body {
    background-image: url("imagens/background1.jpg") 
}
a {
    text-decoration: none;
    
}
.imgprinc {
    text-align: center;
    padding-bottom: 40px;
}

#fonteprinc {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 40px;
}

.container img {
    text-align: center;
    max: width 480px;
    max-height: 320px;
    width: auto;
    height: auto;
    float: left;
    margin-left: 20px;
    padding: 10px;
}

.clear {
    clear: both;
}

.paragrafo {
    text-align: start;
}